body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14),
        0 3px 14px 2px rgba(0, 0, 0, .12),
        0 5px 5px -3px rgba(0, 0, 0, .4);
}

header h1 {
    margin-left: 2em;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    margin: 6em 1.5em;
}

.book-tile {
    padding: 1em;
    margin: 1em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 1px 5px 0 rgba(0, 0, 0, .12),
        0 3px 1px -2px rgba(0, 0, 0, .2);
}

.fab {
    position: fixed;
    right: 2.5em;
    bottom: 2.5em;
    display: block;
    width: 2em;
    height: 2em;
    font-weight: bold;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    background-color: purple;
    color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
        0 1px 10px 0 rgba(0, 0, 0, .12),
        0 2px 4px -1px rgba(0, 0, 0, .4);
}

.fab:hover {
    width: 3em;
    height: 3em;
    box-shadow: 1rem 0.25rem 2.5rem 1rem rgba(0, 0, 0, 0.226);
}

.fab:active {
    width: 3em;
    height: 3em;
    background-color: rgb(148, 65, 148);
    box-shadow: 1rem 0.25rem 2.5rem 1rem rgba(0, 0, 0, 0.226);
    outline: none;
}

.fab:focus {
    outline: none;
}

.scrim {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 12;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(0.2rem);
}

.toggleDisplay {
    display: block;
}

.book-form {
    width: 20em;
    height: 25em;
    padding: 2.5em;
    margin: 5em auto;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem rgba(0, 0, 0, 0.226);
    background-color: white;
}

input[type=text] {
    width: 100%;
}

.submit-btn {
    display: block;
    width: 2em;
    height: 2em;
    font-size: 1.5rem;
    color: white;
    background-color: purple;
    border: 0;
    border-radius: 50%;
    box-shadow: 0.75rem 0.25rem 1.5rem 0.5rem rgba(0, 0, 0, 0.226);
}

.submit-btn:hover {
    width: 3em;
    height: 3em;
    box-shadow: 1rem 0.25rem 2.5rem 1rem rgba(0, 0, 0, 0.226);
}

.submit-btn:active {
    width: 3em;
    height: 3em;
    background-color: rgb(148, 65, 148);
    box-shadow: 1rem 0.25rem 2.5rem 1rem rgba(0, 0, 0, 0.226);
    outline: none;
}

.form-item {
    margin: 2.5rem auto;
}

.delete {
    display: block;
    width: 1.5em;
    height: 1.5em;
    font-weight: bold;
    
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
        0 1px 10px 0 rgba(0, 0, 0, .12),
        0 2px 4px -1px rgba(0, 0, 0, .4);
}

.delete:hover {
    width: 1.75em;
    height: 1.75em;
    box-shadow: 1rem 0.25rem 2.5rem 1rem rgba(0, 0, 0, 0.226);
}

.delete:active {
    width: 1.75em;
    height: 1.75em;
    background-color: whitesmoke;
    box-shadow: 1rem 0.25rem 2.5rem 1rem rgba(0, 0, 0, 0.226);
    outline: none;
}

.delete:focus {
    outline: none;
}

/* toggle */

/* .switch {
    position: relative;
    display: inline-block;
    width: 2.75em;
    height: 1.25em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:purple;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 0.75em;
    width: 0.75em;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #c158dc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  } */